/* configuration */
body{
    margin: 0;
    height: 100vh;
    font-family: 'Poppins';
    background-color: #171717;
    color: white;
}
*{
    box-sizing: border-box;
}
.service-section, .contact-section{
    height: 100vh;
    padding-top: 7rem;
    /* background-color: silver; */

}

body > header{
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    background-color: #1A1A1D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}
.logo{
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    /* border: 2px solid white; */
}
nav{
    width: 60%;
    box-sizing: border-box;

    /* min-width: 250px; */
    /* flex-shrink: 0; */
    /* border: 2px solid red; */
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    /* gap: 2rem; */
}
nav ul li{
    font-size: 1.5rem;
    color: white;
}
nav a{
    text-decoration: none;
    color:white;
    transition:ease-in-out 0.5s;
}
nav ul li a:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
#hamMenu{
  display: none;
}

/* main content style */

main{
    padding-top: 1.5rem;
    margin: 0 25px;
}

/* Section Hero */


#home{
    height: 100vh;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-image: url();
}
.baner{
    width: 100%;
    height: 300px;
    /* background-color: gainsboro; */
}

#home header{
    padding: 1rem;
    /* background-color: aquamarine; */
    line-height: 2rem;
}
#home header h1{
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 2.5rem;
}
#home header h2{
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
}
#home p{
    line-height: 1rem;
    /* background-color: blue; */
    margin-bottom: 2rem;
}
.cta-button{
    width: 100px;
    padding: 0.7rem;
    background-color: #333;
    text-decoration: none;
    color: white;
    border-radius: 12px;
    /* grid-row: 2; */
    margin-top: ;
}
/* Section About */
.about-section header{
    /* background-color: aqua; */
}
.about-container{
    background-color: aquamarine;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem
}
.profile{
    background-color: gray;
    width: 100%;
    padding: 1rem;

}
.about{
    background-color: gray;
    width: 100%;
    height: 400px;
    padding: 1rem;
}

/*Contac Section*/
.contact-container{
    width: 100%;
    height: 470px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 1rem; */

}
.form-box{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    background-color: #424242;
    /* border-radius: 8px; */
}
.form-box p{
    margin: 0;
}
.message-box{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    background-color: #424242;
    /* border-radius: 8px; */

}
.message-box h1,.form-box h1{
    margin: 0;
}
#fname,#fbirth{
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;

}
#message{
    width: 100%;
    height: 100px;
    border-radius: 8px;
    border: none;
    resize: none;
    padding: 0.5rem 1rem;
}
#submit{
    width: 100%;
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 8px;
    border: none;
}
#submit:hover{
    background-color: #333;
    color: white;
}
.message-box #time{
    margin: 0;
    line-height: 2px;
    font-size: 0.8rem;
}
.message-display{
    margin-top: 1rem;
    width: 100%;
    border-radius: 8px;
    background-color: whitesmoke;
    color: black;
    padding: 0px 1rem;
}
.message-display p {
    margin: 0;
    font-weight: 500;
}
.alert{
    width: 100%;
    height: ;
    margin: 0;
    text-align: center;
    background-color: red;
}
/* responsiv */
@media (max-width: 480px){
    main{
        margin-top: 2rem;
    }
    nav{
        width: 200px;
        display: none;
        flex-direction: column;
        padding: 1rem;
        position: absolute;
        right: 0;
        top: 40px;
        background-color: #333;

    }
    nav ul{
        flex-direction: column;
        gap: 0.6rem;
    }
    nav.active{
        display: flex;
    }
    #hamMenu{
        display: block;
        background-color: #33300000;
        
    }

    #hero{
        grid-column: 1fr;
        grid-row: auto;
        gap: 0;
    }
    .baner{
        grid-row: 1;
        grid-column: auto ;
    }
    #hero header{
        grid-row: 2;
        grid-column: auto;
        
    }
    .about-container{
        grid-column: 1fr;
        grid-row: auto;
    }
    .contact-container{
        flex-direction: column;
        align-items: center;
    }
}